<div class="voting-system">
  <h2>Sistema de Votación de Eventos</h2>

  <div class="suggestion-form">
    <form [formGroup]="encuestaForm" (ngSubmit)="addSurvey()">
      <select
        formControlName="id_evento"
        name="id_evento"
        required
        class="form-control"
      >
        <option value="" disabled>-- Selecciona un evento --</option>
        <option *ngFor="let evento of eventosSelect" [value]="evento.id_evento">
          {{ evento.title }}
        </option>
      </select>

      <div>
        <label for="name">Descripción:</label>
        <input id="name" name="name" type="text" formControlName="name" placeholder="Descripción de la encuesta" />
        <div *ngIf="encuestaForm.controls['name'].invalid && encuestaForm.controls['name'].touched" class="error">
          El nombre es obligatorio.
        </div>
      </div>

      <div>
        <label for="date">Fecha:</label>
        <input id="date" name="date" type="date" formControlName="date" />
      </div>

      <div>
        <label for="time">Hora:</label>
        <input id="time" name="time" type="time" formControlName="time" />
      </div>

      <div>
        <label for="location">Ubicación:</label>
        <input id="location" name="location" type="text" formControlName="location" placeholder="Nombre del lugar o enlace" />
      </div>

      <button type="submit" [disabled]="encuestaForm.invalid">Agregar Encuesta</button>
    </form>
  </div>
</div>
