body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    width: 100%;
    margin: 0; /* Asegúrate de que no haya márgenes no deseados */
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    text-align: center; 
    box-sizing: border-box; 
}

button {
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin: 5px 0;
}

.button-gmail {
    background-color: #DB4437;
}

.button-facebook {
    background-color: #3b5998;
}

button:hover {
    background-color: grey;
}

p {
    margin: 10px 0;
    font-size: 12px;
    color: #333;
}