#form {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  height: 100vh;
  width: 100%; 
  padding: 20px; 
}

form {
  max-width: 500px; 
  min-height: 400px; 
  padding: 3%; 
  border: 3px solid #0a0a0a;
  border-radius: 20px; 
  background-color: #8ada9c; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  width: 100%; 
  display: flex;
  flex-direction: column;
  gap: 15px; 
  margin: 50px auto; 
}


label {
  color: black;
  display: block;
  margin-bottom: 10px; 
}

input,
textarea {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 15px; 
  border: 2px solid #0f0f0f;
  border-radius: 4px; 
  font-size: 16px; 
}

.etiqueta{
  color: black;
  font-size:large;
  font-weight:bold;

}

/* Estilo para el botón */
button {
  padding: 10px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 4px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  margin-top: 20px; 
}

button:hover {
  background-color: #0056b3; 
}

#btnAddUser {
  width: 50%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: #0056b3;
}

/* Estilo para los mensajes de error */
small {
  color: red;
  font-size: 0.8em; /* Tamaño más pequeño */
}
