/* General */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

/* Encabezado */
header {
  background-color: #000000;
  padding: 15px 0;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#app-name {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

#logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Hero */
.hero {
  background-color: rgb(36, 36, 36);
  color: white;
  text-align: center;
  padding: 80px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar el hero */
}


/* Filtros */
.tituloev{
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgb(0, 0, 0);

}
.filter-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  border-bottom: 2px solid #ddd; /* Línea de separación */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-container .d-flex {
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filter-container label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  display: block;
  text-align: center;
}

.filter-container .form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.filter-container .btn {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}


/* Tarjetas */
.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Footer */
footer {
  background-color: #0056b3;
  color: white;
  padding: 20px;
  text-align: center;
}
