<div class="container mt-5">
    <h2 class="text-center mb-4">Cambiar Contraseña</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form (ngSubmit)="onSubmit()">
          
          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Ingresa tu correo">
            <div *ngIf="changePassForm.get('email')?.invalid && changePassForm.get('email')?.touched" class="text-danger">
              Correo electrónico inválido
            </div>
          </div>
          
          <!-- Contraseña Antigua -->
          <div class="mb-3">
            <label for="oldPassword" class="form-label">Contraseña Antigua</label>
            <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword" placeholder="Ingresa tu contraseña actual">
            <div *ngIf="changePassForm.get('oldPassword')?.invalid && changePassForm.get('oldPassword')?.touched" class="text-danger">
              Contraseña antigua es requerida
            </div>
          </div>
          
          <!-- Nueva Contraseña -->
          <div class="mb-3">
            <label for="newPassword" class="form-label">Nueva Contraseña</label>
            <input type="password" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Ingresa tu nueva contraseña">
            <div *ngIf="changePassForm.get('newPassword')?.invalid && changePassForm.get('newPassword')?.touched" class="text-danger">
              Nueva contraseña es requerida
            </div>
          </div>
          
          <!-- Repetir Nueva Contraseña -->
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Repite la Nueva Contraseña</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Repite tu nueva contraseña">
            <div *ngIf="changePassForm.get('confirmPassword')?.invalid && changePassForm.get('confirmPassword')?.touched" class="text-danger">
              Repetir la nueva contraseña es requerido
            </div>
            <div *ngIf="changePassForm.hasError('passwordsMismatch') && changePassForm.get('confirmPassword')?.touched" class="text-danger">
              Las contraseñas no coinciden
            </div>
          </div>
          
          <!-- Botón de Enviar -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary" [disabled]="!changePassForm.valid">Cambiar Contraseña</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  