<div id="header">
    <h1 id="slogan">Let's plan together</h1>
    <div id="app-name-container">
      <img id="logo" src="/assets/img/fotoLogo.png" alt="Logo" />
      <h1 id="app-name">Crew Connect</h1>
    </div>
  </div>  
<div id="contenedor">
    <div id="form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h2>Inicia sesión</h2>
            <label class="etiqueta" for="username">Nombre de usuario:</label>
            <input id="username" formControlName="username">
            <label class="etiqueta" for="password">Contraseña:</label>
            <input id="password" type="password" formControlName="password">
            <button type="submit">Iniciar sesión</button>
            <div id="campos">
                <div id="registro">
                    <span>¿No tienes cuenta? </span>
                    <a id="registro-enlace" (click)="irARegistro()">Registrate aquí</a>
                </div>
                <div id="forgetpassword">
                    <a id="pass-forgot" href=""> Contraseña olvidada</a>
                </div>
            </div>
        </form>    
    </div>        
</div>
